{% extends '_base.html' %}

{% block signin_form %}
<form class="form-inline" role="form" action="/" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
            {{ form.name(placeholder="Name") }}
            {% if form.name.errors %}
            <span class="error">
            {% for error in form.name.errors %}
                {{ error}}
            {% endfor %}
            </span>
            {% endif %}
    </div>
    <div class="form-group">
            {{ form.password(placeholder="Password") }}
            {% if form.password.errors %}
            <span class="error">
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
            </span>
            {% endif %}
    </div>
    <button class="btn btn-sm btn-primary" type="submit">Sign in</button>
    </form>
{% endblock signin_form %}

{% block content %}
      <div class="jumbotron">
        <h1>Blogtastic</h1>
        <p class="lead">twitter clone built on flask - a python micro framework</p>
        {% if not session.logged_in %}
        <p><a class="btn btn-lg btn-success" href="/register/" role="button">Sign up today</a></p>
        {% endif %}
      </div>
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Stack</h4>
          <h5>Backend</h5>
          <ul>
              <li><a href="https://www.python.org/downloads/release/python-3110">Python 3.11</a></li>
              <li>build using <a href="http://flask.pocoo.org">Flask</a> framework</li>
              <li>deployed locally <a href="localhost:5000">on this PC</a></li>
              <li>uses <a href="https://flask-sqlalchemy.palletsprojects.com/en/3.0.x">SQL Alchemy</a> as database</li>
          </ul>
          <h5>Frontend</h5>
          <ul>
              <li>uses <a href="https://www.w3schools.com/html/">HTML, CSS</a></li>
          </ul>
        </div>

        <div class="col-lg-6">
            <h4>Why Blogtastic</h4>
            <p>One of the best blog websites out there. No question about that. 10/10 -IGN. Best Social Media Site 2022</p>
            <ul>
                <li>smiles
                    <code>:)</code>
                </li>
                <li>laughes -
                    <code>xD</code>
                </li>
                <li>crys
                    <code>:(</code>
                </li>
                <li>giggly
                    <code>:3</code>
                </li>
            </ul>
        </div>
      </div>
{% endblock content %}
