<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login / Blogtastic</title>
    <link rel="stylesheet" href="../static/styles/login.css">
</head>
<body>
    <div>
        <img src="../static/images/star_FILL1_wght400_GRAD0_opsz48.svg" alt="blogtasticIcon" class="blogIcon">
        <p class="loginTitle">Sign up to Blogtastic&#8482;</p>
        <form method="POST" class="signUpForm">
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            {{ form.submit }}
        </form>
        <a href="{{url_for('login')}}">Already have an account? Log In</a>
    </div>
</body>
</html>