@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.mainDivs {
    display: inline-block;
    float: left;
    height: 100vh;
    padding: 0;
}
/*--Css for the majority of stuff in the leftdiv of homepage--*/
#mDiv0 {
    width: 27vw;
}

#mDiv0 div {
    margin: 20px 0px 0px 12vw;
}
#gtast {
    display: inline-block;
    width: 40px;
    font-size: 100%;
    position: relative;
    bottom: 10px;
}
.homeForm {
    width: 250px;
    margin-top: 10px;
}
.homeForm:hover {
    background-color: #bbb;
    border-radius: 50px;
}
.containHome {
    display: inline-block;
}
.homeButt {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: relative;
    bottom: 6px;
    left: 1vw;
    font-size: 150%;
}
.profileButt {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: relative;
    bottom: 6px;
    left: 1vw;
    font-size: 150%;
}
.itemImg {
    height: 40px;
    position: relative;
    top: 4px;
    left: 1vw;
}
.blogIcon {
    padding-left: 21px;
    height: 35px;
    display: inline-block;
}
/*--End Css for leftmost div--*/
/*--Css for majority of the middlediv of homepage--*/
#mDiv1 {
    width: 45.5vw;
    height: 100vh;
    border: solid 2px #eee;
}

/*--Css for rightmost div--*/
#mDiv2 {
    width: 26vw;
}
.input {
    width: 12vw;
    height: 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
    background-position: 5% 50%;
    border: solid 2px #ddd;
    border-radius: 25px;
    padding-left: 40px;
    margin: 15px 0px 0px 15px;
}
/*--end Css for rightmost div